* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #0A65FF;
  --white: #FFFF;
}
.App {
  display: flex;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;

}


.content{
  width: 100%;
}

img{
  object-fit: contain;
}
.tab-contenedor {}
.contenedor {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}